{% assign sorted = result | sort: 'date' %}
{% assign now = 'now' | date: "%Y-%m-%d" %}

{% comment %}Build array of next collections for each waste type{% endcomment %}
{% assign upcoming_by_type = '' %}
{% assign types_seen = '' %}

{% for item in sorted %}
  {% if item.date >= now %}
    {% unless types_seen contains item.waste_type %}
      {% assign upcoming_by_type = upcoming_by_type | append: item.waste_type | append: '|' | append: item.date | append: ',' %}
      {% assign types_seen = types_seen | append: item.waste_type | append: ',' %}
    {% endunless %}
  {% endif %}
{% endfor %}

{% assign upcoming_by_type = upcoming_by_type | remove_last: ',' | split: ',' %}

<div class="view view--full">
  <div class="layout layout--col gap--space-between">
    {% comment %}Next Collection - Hero{% endcomment %}
    {% assign found = false %}
    {% for item in sorted %}
      {% if item.date >= now and found == false %}
        {% assign waste_type = item.waste_type | downcase %}
        {% case waste_type %}
          {% when 'bulky_goods' %}
            {% assign bar_emphasis = 'item--emphasis-3' %}
          {% when 'cardboard' %}
            {% assign bar_emphasis = 'item--emphasis-2' %}
          {% when 'chipping_service' %}
            {% assign bar_emphasis = 'item--emphasis-1' %}
          {% when 'incombustibles' %}
            {% assign bar_emphasis = 'item--emphasis-3' %}
          {% when 'metal' %}
            {% assign bar_emphasis = 'item--emphasis-2' %}
          {% when 'mobile' %}
            {% assign bar_emphasis = 'item--emphasis-1' %}
          {% when 'oekibus' %}
            {% assign bar_emphasis = 'item--emphasis-3' %}
          {% when 'organic' %}
            {% assign bar_emphasis = 'item--emphasis-2' %}
          {% when 'paper' %}
            {% assign bar_emphasis = 'item--emphasis-1' %}
          {% when 'special' %}
            {% assign bar_emphasis = 'item--emphasis-3' %}
          {% when 'textile' %}
            {% assign bar_emphasis = 'item--emphasis-2' %}
          {% when 'waste' %}
            {% assign bar_emphasis = 'item--emphasis-1' %}
          {% else %}
            {% assign bar_emphasis = 'item--emphasis-1' %}
        {% endcase %}

        <div class="item {{ bar_emphasis }}">
          <div class="meta"></div>
          <div class="content gap--small">
            <span class="label">Next Pickup</span>
            <div class="flex flex--row gap--medium flex--center-y">
              <span class="value value--xxxlarge value--tnums">{{ item.date | date: '%d' }}</span>
              <div class="flex flex--col">
                <span class="value value--xlarge">{{ item.date | date: '%b' }}</span>
                <span class="title title--small">{{ item.waste_type | capitalize }}</span>
              </div>
            </div>
          </div>
        </div>
        {% assign found = true %}
      {% endif %}
    {% endfor %}

    <div class="divider"></div>

    {% comment %}Upcoming - Compact Grid{% endcomment %}
    <div class="grid grid--cols-2 gap--small">
      {% assign count = 0 %}
      {% assign seen = '' %}
      {% for item in sorted %}
        {% if item.date >= now and count < 4 %}
          {% assign key = item.date | append: '-' | append: item.waste_type %}
          {% unless seen contains key %}
            {% assign waste_type = item.waste_type | downcase %}
            {% case waste_type %}
              {% when 'bulky_goods' %}
                {% assign bar_emphasis = 'item--emphasis-3' %}
              {% when 'cardboard' %}
                {% assign bar_emphasis = 'item--emphasis-2' %}
              {% when 'chipping_service' %}
                {% assign bar_emphasis = 'item--emphasis-1' %}
              {% when 'incombustibles' %}
                {% assign bar_emphasis = 'item--emphasis-3' %}
              {% when 'metal' %}
                {% assign bar_emphasis = 'item--emphasis-2' %}
              {% when 'mobile' %}
                {% assign bar_emphasis = 'item--emphasis-1' %}
              {% when 'oekibus' %}
                {% assign bar_emphasis = 'item--emphasis-3' %}
              {% when 'organic' %}
                {% assign bar_emphasis = 'item--emphasis-2' %}
              {% when 'paper' %}
                {% assign bar_emphasis = 'item--emphasis-1' %}
              {% when 'special' %}
                {% assign bar_emphasis = 'item--emphasis-3' %}
              {% when 'textile' %}
                {% assign bar_emphasis = 'item--emphasis-2' %}
              {% when 'waste' %}
                {% assign bar_emphasis = 'item--emphasis-1' %}
              {% else %}
                {% assign bar_emphasis = 'item--emphasis-1' %}
            {% endcase %}

            <div class="item {{ bar_emphasis }}">
              <div class="meta"></div>
              <div class="content gap--xsmall">
                <div class="flex flex--row gap--small flex--center-y">
                  <span class="value value--tnums">{{ item.date | date: '%d.%m' }}</span>
                  <span class="description">{{ item.date | date: '%a' }}</span>
                </div>
                <span class="label label--small">{{ item.waste_type | capitalize }}</span>
              </div>
            </div>
            {% assign seen = seen | append: key | append: ',' %}
            {% assign count = count | plus: 1 %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">Garbage Collection</span>
  <span class="instance">{{ 'now' | date: '%d.%m.%Y' }}</span>
</div>
