{% assign sorted = result | sort: 'date' %}
{% assign now = 'now' | date: "%Y-%m-%d" %}

<div class="view view--half_vertical">
  <div class="layout layout--col gap--space-between">
    {% comment %}Next Collection{% endcomment %}
    {% assign found = false %}
    {% for item in sorted %}
      {% if item.date >= now and found == false %}
        {% assign waste_type = item.waste_type | downcase %}
        {% if waste_type contains 'general' or waste_type contains 'trash' %}
          {% assign bar_emphasis = 'item--emphasis-3' %}
        {% elsif waste_type contains 'recycl' or waste_type contains 'paper' %}
          {% assign bar_emphasis = 'item--emphasis-2' %}
        {% else %}
          {% assign bar_emphasis = 'item--emphasis-1' %}
        {% endif %}

        <div class="item {{ bar_emphasis }}">
          <div class="meta"></div>
          <div class="content gap--small">
            <span class="label label--small">Next</span>
            <span class="value value--xxlarge value--tnums">{{ item.date | date: '%d.%m' }}</span>
            <span class="title title--small">{{ item.waste_type | capitalize }}</span>
          </div>
        </div>
        {% assign found = true %}
      {% endif %}
    {% endfor %}

    <div class="divider"></div>

    {% comment %}Upcoming Grid - 2x2{% endcomment %}
    <div class="grid grid--cols-2 gap--xsmall">
      {% assign count = 0 %}
      {% assign seen = '' %}
      {% for item in sorted %}
        {% if item.date >= now and count < 4 %}
          {% assign key = item.date | append: '-' | append: item.waste_type %}
          {% unless seen contains key %}
            {% assign waste_type = item.waste_type | downcase %}
            {% if waste_type contains 'general' or waste_type contains 'trash' %}
              {% assign bar_emphasis = 'item--emphasis-3' %}
            {% elsif waste_type contains 'recycl' or waste_type contains 'paper' %}
              {% assign bar_emphasis = 'item--emphasis-2' %}
            {% else %}
              {% assign bar_emphasis = 'item--emphasis-1' %}
            {% endif %}

            <div class="item {{ bar_emphasis }}">
              <div class="meta"></div>
              <div class="content gap--xsmall">
                <span class="value value--small value--tnums">{{ item.date | date: '%d.%m' }}</span>
                <span class="label label--small">{{ item.waste_type | capitalize }}</span>
              </div>
            </div>
            {% assign seen = seen | append: key | append: ',' %}
            {% assign count = count | plus: 1 %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">Garbage</span>
  <span class="instance">{{ 'now' | date: '%d.%m' }}</span>
</div>
